// INPUT BOARD J1_3 to J1_18

NET i0 LOC = P22 | IOSTANDARD = LVCMOS33; 
NET i1 LOC = P21 | IOSTANDARD = LVCMOS33; 
NET i2 LOC = P24 | IOSTANDARD = LVCMOS33; 
NET i3 LOC = P23 | IOSTANDARD = LVCMOS33; 
NET i4 LOC = P27 | IOSTANDARD = LVCMOS33; 
NET i5 LOC = P26 | IOSTANDARD = LVCMOS33;
NET i6 LOC = P30 | IOSTANDARD = LVCMOS33; 
NET i7 LOC = P29 | IOSTANDARD = LVCMOS33; 
NET i8 LOC = P33 | IOSTANDARD = LVCMOS33; 
NET i9 LOC = P32 | IOSTANDARD = LVCMOS33; 
NET i10 LOC = P35 | IOSTANDARD = LVCMOS33; 
NET i11 LOC = P34 | IOSTANDARD = LVCMOS33; 
NET i12 LOC = P41 | IOSTANDARD = LVCMOS33; 
NET i13 LOC = P40 | IOSTANDARD = LVCMOS33; 
NET i14 LOC = P44 | IOSTANDARD = LVCMOS33; 
NET i15 LOC = P43 | IOSTANDARD = LVCMOS33; 

// SELECT LINES BOARD PUSH BUTTONS

	NET a LOC = P80 | IOSTANDARD = LVCMOS33;		//MSB
	NET b LOC = P81 | IOSTANDARD = LVCMOS33;
	NET c LOC = P82 | IOSTANDARD = LVCMOS33;
	NET d LOC = P83 | IOSTANDARD = LVCMOS33;  	//LSB

//OUTPUT BOARD j2_3
NET y loc=p16 | IOSTANDARD = LVCMOS33;